
.wr-icon-shield-virus:before { content: '\e800'; } /* '' */
.wr-icon-xmark:before { content: '\e801'; } /* '' */
.wr-icon-theme-light:before { content: '\e802'; } /* '' */
.wr-icon-theme-dark:before { content: '\e803'; } /* '' */
.wr-icon-search:before { content: '\e804'; } /* '' */
.wr-icon-github:before { content: '\e805'; } /* '' */
.wr-icon-envelope-open:before { content: '\e806'; } /* '' */
.wr-icon-opencart:before { content: '\e807'; } /* '' */
.wr-icon-circle-xmark:before { content: '\e808'; } /* '' */
.wr-icon-circle-check:before { content: '\e809'; } /* '' */
.wr-icon-circle-question:before { content: '\e810'; } /* '' */
.wr-icon-arrow-right:before { content: '\e811'; } /* '' */
.wr-icon-file-lines:before { content: '\e812'; } /* '' */
